body {
  padding: 50px;
  font: 1.5em "Lucida Grande", Helvetica, Arial, sans-serif;
}

.vertical-align {
  display: flex;
  align-items: center;
}

a {
  color: #00B7FF;
}

.col-sm-6 {
  width: 93%!important;
  position: relative;
  left: 8em!important;
}

.text-right {
  float: left !important;
  width: 7%;
  text-align: left;
  position: absolute;
}

.h1, h1 {
  font-size: 4em !important;
  color: #4d71da
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  width: 8em!important;
  height: 3em!important;
}