body {
  padding: 50px;
  font: 1.5em "Lucida Grande", Helvetica, Arial, sans-serif;
  vertical-align: center !important;
}

.vertical-align {
  display: flex;
  align-items: center;
}

a {
  color: #00B7FF;
}

.col-sm-6 {
  width: 90% !important;
  position: relative;
  left: 6em!important;
  background-color: lightblue;
}

.text-right {
  float: left !important;
  width: 10%;
  text-align: left;
  position: absolute;
  left: 3em!important;
}
.imgsub {
  width: 6em;
  height: 6em;
  opacity: 1;
}
.imgsub:hover {
  opacity: 0.7;
}

.h1, h1 {
  font-size: 5em !important;
  color: #4d71da;
  padding-bottom: 0.2em;
}

.h2, h2 {
  font-size: 4em !important;
  color: #4d71da;
  padding-bottom: 0.1em;
  text-align: center;
  position: relative;
  top: 0;
  margin: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  font-size: 2em;
  width: 7.5em !important;
  height: 2.57em !important;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 15px;
  background: lightblue;
}
form{
  display: none;
}

#myChartDiv{
  width: 100%;
  height: 74vh !important;
}
