body {
  padding: 50px;
  font: 1.5em "Lucida Grande", Helvetica, Arial, sans-serif;
}

.vertical-align {
  display: flex;
  align-items: center;
}

a {
  color: #00B7FF;
}

.col-sm-6 {
  width: 100% !important;
  position: relative;
  left: 0;
}

.text-right {
  float: right !important;
}

.h1, h1 {
  font-size: 4em !important;
  color: #4d71da
}